<div class="row">
  <div class="col-sm-8 offset-sm-2">

    <%= form_with(model: @asset_sim) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="mb-3">
        <%= f.label :cash, '現金[万円]' %>
        <%= f.text_field :cash, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :investment_asset, '投資資産[万円]' %>
        <%= f.text_field :investment_asset, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :income, '年収[万円]' %>
        <%= f.text_field :income, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :expense, '年間支出[万円]' %>
        <%= f.text_field :expense, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :investment_ratio, '投資割合[%]' %>
        <%= f.text_field :investment_ratio, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :investment_yield, '投資利回り[%]' %>
        <%= f.text_field :investment_yield, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :inflation_ratio, 'インフレ率[%]' %>
        <%= f.text_field :inflation_ratio, class: 'form-control' %>
      </div>

      <%= f.submit '設定', class: 'btn btn-primary w-100' %>
    <% end %>
  </div>
</div>