<% if logged_in? %>
  <div class="row">
    <div class="col-sm-3">
      <%= render "form_asset_sim" %>
    </div>
    <div class="col-sm-9">
      <% unless @asset_sim.new_record? %>
        <%= form_with url: root_path, method: :get, local: true do |f| %>
          <div class="row">
            <div>
              <ul class="list-group list-group-horizontal">
                <% @chkboxes.each do |key, chkbox| %>  
                  <li class="list-group-item" style="border: none">
                    <%= f.check_box key, checked: chkbox.ischecked %>
                    <%= f.label key, chkbox.name %>
                  </li>
                <% end %> 
              </ul>
            </div>
          </div>  
          <%= line_chart [
                           { name: @chkboxes[:chk_asset].name, data: @graph[:chk_asset] },
                           { name: @chkboxes[:chk_cash].name, data: @graph[:chk_cash] },
                           { name: @chkboxes[:chk_investment_asset].name, data: @graph[:chk_investment_asset] },
                           { name: @chkboxes[:chk_income].name, data: @graph[:chk_income] },
                           { name: @chkboxes[:chk_expense].name, data: @graph[:chk_expense] },
                         ] %>      
          <% if @events.any? %>
            <table class="table table-striped">
              <thread>
                <tr class= "row">
                  <th class= "col-1">有効</th>
                  <th class= "col-5">イベント名</th>
                  <th class= "col-1">収支</th>
                  <th class= "col-1">年齢</th>
                  <th class= "col-1">期間</th>
                  <th class= "col-3"></th>
                </tr>
              </thread>
              <tbody>
                <% @events.each do |event| %>  
                  <tr class= "row">
                    <td class= col-1><%= check_box_tag :isvalid[event.id], event.id, event.isvalid %></td>
                    <td class= col-5><%= event.name %></td>
                    <td class= col-1><%= event.value %></td>
                    <td class= col-1><%= event.age %></td>
                    <td class= col-1><%= event.term %></td>
                    <td class= col-3>
                      <%= link_to "編集", edit_event_path(event), class: "btn btn-dark btn-sm" %>
                      <%= link_to "削除", event, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger btn-sm" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%== pagy_bootstrap_nav(@pagy) %>
          <% end %>
          <div class="row">
            <div class="actions col-3">
              <%= f.hidden_field :isButtonDown, :value => true %>
              <%= f.submit "シミュレーション実行", class: "btn btn-dark w-30" %>
            </div>
            <div class= col-3>
              <%= link_to "イベント設定", new_event_path, class: "btn btn-dark w-30" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Life Plan Sim</h1>
      <%= link_to "ユーザー登録", new_user_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>