<% if logged_in? %>
<div class="row">
  <div class="col-sm-3">
    <%= render 'form_asset_sim' %>
  </div>
  <div class="col-sm-9">
    <% unless @asset_sim.new_record? %>
      <div class="row">
        <div class="col-sm-5">
          <%= form_with url: root_path, method: :get, local: true do |f| %>
              <div class="field">
                <%= f.check_box :chk_asset, checked: @chkbox[:chk_asset] %>
                <%= f.label :chk_asset, "資産" %>
                <%= f.check_box :chk_cash, checked: @chkbox[:chk_cash]  %>
                <%= f.label :chk_cash, "現金" %>
                <%= f.check_box :chk_investment_asset, checked: @chkbox[:chk_investment_asset] %>
                <%= f.label :chk_investment_asset, " 投資資産" %>
                <%= f.check_box :chk_expense, checked: @chkbox[:chk_expense] %>
                <%= f.label :chk_expense, "年間支出" %>
              </div>
              <div class="actions">
                <%= f.submit 'グラフ',  class: 'btn btn-primary w-20' %>
              </div>
          <% end %>
        </div>
        <div class="offset-sm-1 col-sm-3">
          <%= link_to 'イベント設定', new_event_path, class: 'btn btn-primary w-20' %>
        </div>
        
      </div>
      <% unless @asset_sim.new_record? %>
        <%= line_chart [ { name: "資産", data: @graph_asset}, { name: "現金", data: @graph_asset_cash}, { name: "投資資産", data: @graph_investment_asset}, { name: "年間支出", data: @graph_expense}]  %>
      <% end %>
    <% end %>  
  </div>
</div>
  
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Life Plan Sim</h1>
      <%= link_to 'ユーザー登録', new_user_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>